@using SsttekAcademyBootcamp.Models.Repositories.Books

@model List<Book>

@{
    ViewData["Title"] = ViewBag.Title;
}

<h1>Kitaplar</h1>

<div class="table-responsive rounded shadow mt-5">
    <table class="table table-striped table-hover table-bordered mb-0">
        <thead class="bg-light">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Publication Year</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-sm " asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
                </td>
                <td>@item.Author</td>
                <td>@item.ISBN</td>
                <td>@item.PublicationYear</td>
                    
            </tr>
        }
        </tbody>
    </table>
</div>